<div class="grid-item sub-subgrid" >
  <label class="grid-item" for="data.weight">Weight</label>
  <input class="grid-item" style="grid-column-end:span 1;" name="data.weight" type="number" value="{{data.weight}}"/>
</div>

<div class="grid-item sub-subgrid" >
  <label class="grid-item" for="data.price">Price</label>
  <input class="grid-item" style="grid-column-end:span 1;" name="data.price" type="number" value="{{data.price}}"/>
</div>

<div class="grid-item sub-subgrid" >
  <label class="grid-item" for="data.quantity">Quantity</label>
  <input class="grid-item" style="grid-column-end:span 1;" name="data.quantity" type="number" value="{{data.quantity}}"/>
</div>

<div class="grid-item sub-subgrid" >
  <label class="grid-item" for="data.container">Container</label>
  <select class="grid-item" style="grid-column-end:span 1;" name="data.container">
	{{#select this.container}}
    <option value="equipped">Equipped</option>
    <option value="carried">Carried</option>
    <option value="packed">Backpack</option>
    <option value="none">None</option>
    {{/select}}
  </select>
</div>


