<option value='heavy_weapons'>heavy_weapons</option>
<option value='close_combat'>close_combat</option>
<option value='stamina'>stamina</option>

<option value='driving'>driving</option>
<option value='mobility'>mobility</option>
<option value='ranged_combat'>ranged_combat</option>

<option value='recon'>recon</option>
<option value='survival'>survival</option>
<option value='tech'>tech</option>

<option value='command'>command</option>
<option value='persuasion'>persuasion</option>
<option value='mecical_aid'>mecical_aid</option>

<option value='none'>none</option>