<div class="grid-item flexcol" style="grid-column-end:span 1;">
  <div class="header_row flexrow"><span>{{r_title}}<span></div>
  <div class="flexrow" style="text-align: center;align-items: center;">
    <input name="{{r_loc}}.value" size="2" type="number" value="{{this.value}}" />
    <span>/</span>
    <span>{{this.max}}</span>
  </div>
</div>