<table class="items-list gear-list" style="border: 1px solid black; text-align:center;">
	<tr class="item flexrow item-header">
		<th class="item-image"></th>
		<th class="item-name"><span style="width:20%;">Item<span></th>
		<th> ROF</th>
  		<th> Damage</th>
  		<th> Crit</th>
  		<th> Armor</th>
  		<th> Range</th>
  		<th> Mag</th>
  		<th> Rel</th>
  		<th> Blast</th>
  		<th> Wt</th>
		<th>
			<a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i></a>
		</th>
	</tr>
	{{#each actor.weapons}}
		{{> "systems/twilight2000v4/templates/actor/part/weapon-slot.hbs" this}}
	{{/each}}
</table>