.sheet-header {
max-height:100px;
}
.grid-item{
padding:3px;
}
.bio-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;
  .subgrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(25px, auto);
    grid-auto-flow: dense;
  }
  
  .grid-item{
    border: 1px solid black;
  }

  .subgrid .grid-item{
    border: 1px solid grey;
  }

}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  grid-auto-rows: minmax(25px, auto);
  background-color: black;
  border: 1px solid black;

  .grid-item{
    background: url(/ui/parchment.jpg) repeat;
  }
  
  .armor-subgrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3px;
    grid-auto-rows: minmax(25px, auto);
  }
  
  .stats-subgrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(25px, auto);
    
    .grid-item input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"]{
      border: 1px solid #7a7971;
    }
  }
}


.health-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  grid-auto-rows: minmax(25px, auto);
  ol {
    border: 1px solid black;
  }
}

.weapon-grid {
  display: grid;
  grid-template-columns: 4fr repeat(12, 1fr);
  gap: 1px;
  grid-auto-rows: minmax(25px, auto);
  border: 1px solid black;
  background-color: black;
  overflow-x:scroll;
  .grid-item{
    background: url(/ui/parchment.jpg) repeat;
  }
}

.header_row{
  margin:-3px;
  margin-bottom:3px;
  padding:0px;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
  align-content: center;
}
